@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Rampart+One&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e7e3d7;
}